<app-header></app-header>

<main class="container ">
  <div class="row">
    
    <!-- Left Column: User list (25%) -->
    <div class="col-3">
      <ul class="list-unstyled">
        <li *ngFor="let user of users">
          <app-user 
              [user]="user"
              (selectUsertask)="onSelectUser($event)">
            </app-user>

          <!-- @for (item of users; track item.id) {
            <app-user 
              [user]="item"
              (selectUsertask)="onSelectUser($event)">
            </app-user>
          } -->
        </li>
      </ul>
    </div>

    <div class="col-9">
      @if(selectedUser){
       <app-tasks [user_id]="selectedUser.id" [name]="selectedUser.name"></app-tasks>
      }@else {
        <app-tasks [user_id] = "users[0].id" [name]="users[0].name"></app-tasks>
      }
    </div>

  </div>
</main>
